# Виртуальное окружение
.venv/
venv/
ENV/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Исключаем все базы данных, кроме teachers.db
*.db
!teachers.db

# Настройки IDE
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp

# Системные файлы
.DS_Store
Thumbs.db

# Компиляция и сборка
build/
dist/
*.egg-info/
